.add-comment {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 24px 34px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 825px;

  h4 {
    color: #3a4374;
    font-size: 18px;
    font-weight: 700;
    line-height: 26.01px;
    letter-spacing: -0.25px;
  }

  textarea {
    background-color: #f7f8fd;
    border: none;
    border-radius: 10px;
    padding: 16px;
    cursor: pointer;

    &::placeholder {
      color: #8c92b3;
    }
  }

  textarea:focus {
    cursor: text;
  }

  .add-comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: #647196;
      font-size: 15px;
      font-weight: 400;
      line-height: 21.68px;
    }

    .post-button {
      background-color: #ad1fea;
      color: #f2f4fe;
      border-radius: 10px;
      padding: 10px 16px;
      border: none;
      font-size: 14px;
      font-weight: 700;
      line-height: 20.23px;
      cursor: pointer;
    }

    .post-button:hover {
      background-color: #c75af6;
    }
  }
}

@media (width <= 1190px) {
  .add-comment {
    width: 689px;
  }
}

@media (width <= 768px) {
  .add-comment {
    width: 327px;

    .add-comment-footer {
      p {
        font-size: 13px;
        font-weight: 400;
        line-height: 18.79px;
      }
    }
  }
}
