.container:has(.card) .empty-container {
  display: none;
}

.container:not(:has(.card)) .empty-container {
  display: flex;
}

.empty-container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 825px;
  height: 600px;
  margin: 0 auto;
  padding: 111px 209px;
  display: flex;
  flex-direction: column;
  gap: 53px;
  align-items: center;

  .empty-texts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    h3 {
      color: #3a4374;
      font-size: 24px;
      font-weight: 700;
      line-height: 34.68px;
      letter-spacing: -0.3333333432674408px;
      text-align: center;
    }

    p {
      color: #647196;
      font-size: 16px;
      font-weight: 400;
      line-height: 23.12px;
      text-align: center;
    }
  }
}

.card-link {
  text-decoration: none;
}

.container {
  display: flex;
  gap: 30px;
  width: 1110px;
  margin: 32px auto;
}

@media (width <= 1190px) {
  .container {
    width: 689px;
    flex-direction: column;
  }

  .empty-container {
    width: 689px;
    padding: 110px 140px;
  }
}
